body {
	margin: 0
}
.container {
	position: relative;
}

.topo-map {
	width: 100%;
}

.marker {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: red;
	margin: -5px 0 0 -5px;
}